<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url('<%= image_path "cocktails.jpg" %>');">
  <div class="container">
    <h1>The Cocktail List </h1>
    <p>Let's make some cocktails</p>
    <%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>

<br>

<div class="container" style= "margin-top: 0">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cloudinary_url cocktail.photo %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


