<h1>New Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%#= f.association :ingredient %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "Add the Ingredient 💫", class: "btn btn-primary" %>
<% end %>

<br>
<%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-info" %></p>
